<!doctype html5>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - TechM</title>
    {% endblock %}
</head>

<body>
  {% with messages=get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
  
  <div id="content">
      {% block content %}
      {% endblock %}
  </div>
  
  {% block footer %}
  &copy; Copyright 2016 by Vishal
  {% endblock %}
</body>
</html>