{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Login Page</h1>
    <form method="post" action="{{ url_for('login') }}">
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <p>
        Username: <input type="text" name="username">
    </p>
    <p>
        Password: <input type="password" name="password">
    </p>
    <input type="submit" value="Login">
    </form>
{% endblock %}